/* Устанавливаем шрифт */
body {
    font-family: 'Arial', sans-serif;
  }
  
  /* Устанавливаем фон экрана */
  body {
    background-color: #86ddff; /* Цвет фона (можно использовать цвет по вашему выбору) */
  }
  
  /* Если вы хотите установить фон конкретного элемента, например, дива с id "container" */
  #container {
    background-color: #ffffff; /* Цвет фона для контейнера (можно использовать цвет по вашему выбору) */
  }
  
  /* Если вы хотите установить изображение в качестве фона */
  body {
    background-size: cover; /* Позволяет изображению заполнять весь экран */
    background-position: center; /* Центрирует изображение на экране */
    background-repeat: no-repeat; /* Запрещает повторение изображения */
  }
  